<div class="container-full">
    <nav class="navbar navbar-light navbar-fixed-top bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
            &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          <a class="navbar-brand" href="#">Login App</a>
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
          <form class="form-inline pull-xs-right">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
    </nav> <!-- /navbar -->


    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Login example</h1>
        <p>Login authentication example with ajax and php script</p>
        <p>Click Login button below to test</p>
        <p>&nbsp;</p>
        
        <button (click)="onClickBootstrap4Form()" type="button" class="btn btn-lg btn-primary">Login with Bootstrap 4 form</button>
        <button (click)="onClickAngular2Form()" type="button" class="btn btn-lg btn-primary">Login with Angular 2 form</button>
    </div><!-- /jumbotron -->
</div> <!-- /container-full -->
